      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer--left-section">
          <ul class="mdl-mini-footer--link-list">
            <li><a href="#">Powered by Honu</a></li>
          </ul>
        </div>
        <div class="mdl-mini-footer--right-section">
          <ul class="mdl-mini-footer--link-list">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Slack</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
