{{ partial "head.html" . }}

{{ partial "header.html" . }}

<main class="mdl-layout__content page-content">
  <div id="home-banner">
  </div>
  <header class="mdl-layout__header mdl-layout--small-large-only">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">{{ .Site.Title }}</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
  </header>
  <div class="mdl-grid text-center">
    <div class="mdl-cell mdl-cell--6-col">
      <h1 class="align-center">Welcome to {{ .Site.Title }}</h1>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col">
      <div class="mdl-card mdl-shadow--2dp" id="contact">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Contact Us</h2>
        </div>
      </div>
      <br>
      <div class="mdl-card mdl-shadow--2dp" id="upcoming">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Upcoming</h2>
        </div>
        <div class="mdl-card__supporting-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aenan convallis.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Get Started
          </a>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--9-col">
      <div class="mdl-card mdl-shadow--2dp" id="news">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">News</h2>
        </div>
      </div>
    </div>
  </div>
</main>

{{ partial "footer.html" . }}
